// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #2e0099
$secondary = #7b26a6
$accent    = #2767b0

$dark      = #404040

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #f28c38

@import '~quasar-variables-styl'
